body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	background: #FFF;
}
form {margin: 0px;}

h1 {
	color:#3d95ec;
	font-size: 18px;
	line-height: 21px;
	font-weight: bold;
	margin-bottom: 0px; 
	padding-bottom: 2px;	
	margin-top: 0px; 
	padding-top: 0px; 
	}
	
h2 {
	color:#565656;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 0px; 
	padding-bottom: 2px;	
	margin-top: 0px; 
	padding-top: 0px; 
	}
	
h2.hot {
	color:#de4980;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 0px; 
	padding-bottom: 2px;	
	margin-top: 0px; 
	padding-top: 0px; 
	}
	
h3 {
	color:#565656;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 0px; 
	padding-bottom: 4px;
	margin-top: 0px; 
	padding-top: 4px; 
	}
	
h3.blue {
	color:#066ed5;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 0px; 
	padding-bottom: 2px;
	margin-top: 0px; 
	padding-top: 4px; 
	}
	
h3.hot {
	color:#066ed5;
	color:#de4980;
	font-weight: bold;
	margin-bottom: 0px; 
	padding-bottom: 2px;
	margin-top: 0px; 
	padding-top: 4px; 
	}
	
fieldset {
	width: 225px;
	padding-top: 0px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	font-family: Arial;
	color:#565656;
	font-size: 12px;
	font-weight: bold;
	border-width: 1px;
	border-color:#98c7f5;	
	border-style: solid;
	}
	
.fineprint {
	color:#565656;
	font-size: 11px;
	}
	
.none {
	color:#000000;
	font-size: 11px;
	line-height: 11pt;
	}
	
.body {
	color:#565656;
	font-size: 14px;
	line-height: 18px;
	}

.bodybold {
	color:#565656;
	font-size: 14px;
	line-height: 18px;
	font-weight: bold;
	}
		
.bodysmall {
	color:#565656;
	font-size: 12px;
	line-height: 16px;
	}
	
.bodysmallbold {
	color:#565656;
	font-size: 12px;
	line-height: 16px;
	font-weight: bold;
	}

.formlight {
	color:#565656;
	font-size: 12px;
	line-height: 16px;
	}
	
.formbold {
	color:#565656;
	font-size: 12px;
	line-height: 16px;
	font-weight: bold;
	}
	
.messaging {
	color:#3d95ec;
	font-size: 14px;
	line-height: 18px;
	font-weight: bold;
	}

.promo {
	color:#565656;
	font-size: 12px;
	line-height: 16px;
	font-weight: bold;
	}
	
.error {
	color:#de4980;
	font-size: 12px;
	line-height: 16px;
	font-weight: bold;
	}
	
.button {
	color:#ffffff;
	font-size: 12px;
	line-height: 16px;
	font-weight: bold;
	text-decoration: none;
	}

a.button:visited {
	color:#ffffff;
	font-size: 12px;
	line-height: 16px;
	font-weight: bold;
	text-decoration: none;
	}

a.button:active {
	color:#ffffff;
	font-size: 12px;
	line-height: 16px;
	font-weight: bold;
	text-decoration: none;
	}

a.button:hover {
	color:#ffffff;
	font-size: 12px;
	line-height: 16px;
	font-weight: bold;
	text-decoration: none;
	}
	
.navwhite {
	color:#ffffff;
	font-size: 12px;
	line-height: 16px;
	font-weight: bold;
	text-decoration: none;
	}

a.navwhite:visited {
	color:#ffffff;
	font-size: 12px;
	line-height: 16px;
	font-weight: bold;
	text-decoration: none;
	}

a.navwhite:active {
	color:#ffffff;
	font-size: 12px;
	line-height: 16px;
	font-weight: bold;
	text-decoration: none;
	}

a.navwhite:hover {
	color:#ffffff;
	font-size: 12px;
	line-height: 16px;
	font-weight: bold;
	text-decoration: underline;
	}

.navgray {
	color:#565656;
	font-size: 12px;
	line-height: 16px;
	font-weight: bold;
	text-decoration: none;
	}

a.navgray:visited {
	color:#565656;
	font-size: 12px;
	line-height: 16px;
	font-weight: bold;
	text-decoration: none;
	}

a.navgray:active {
	color:#565656;
	font-size: 12px;
	line-height: 16px;
	font-weight: bold;
	text-decoration: none;
	}

a.navgray:hover {
	color:#565656;
	font-size: 12px;
	line-height: 16px;
	font-weight: bold;
	text-decoration: underline;
	}

.tagline {
	color:#787878;
	font-size: 12px;
	line-height: 16px;
	font-weight: bold;
	}
	
ol.general {
	display: block; 
	list-style-type: number;
	padding: 0px; 
	margin: 0px; 
	padding-left: 35px;
	font-family: Arial;
	color:#565656;
	font-size: 14px;
	line-height: 16px;
	}

ol.general li {
	padding-left: 5px; 
	padding-bottom: 5px;
	}
	
ul.faq {
	display: block; 
	list-style-type: none;
	width: 420px;
	padding: 0px; 
	margin: 0px; 
	padding-right: 0px;
	font-family: Arial;
	color:#565656;
	font-size: 12px;
	line-height: 16px;
	font-weight: bold;
	}

ul.faq li {
	background-image: url(img/bullet_faq.gif); 
	background-repeat: no-repeat; 
	background-position: 10px 4px; 
	padding-left: 29px; 
	padding-top: 2px;
	}
	
ul.headline {
	display: block; 
	list-style-type: none; 
	padding: 0px; 
	margin: 0px; 
	padding-right: 0px;
	}

ul.headline li {
	background-image: url(img/bullet_headline.gif); 
	background-repeat: no-repeat; 
	background-position: 10px 6px; 
	padding-left: 20px; 
	padding-bottom: 3px;
	}
	
ul.gray {
	display: block; 
	list-style-type: none; 
	padding: 0px; 
	margin: 0px; 
	padding-right: 0px;
	}

ul.gray li {
	background-image: url(img/bullet_gray.gif); 
	background-repeat: no-repeat; 
	background-position: 2px 0px; 
	padding-left: 26px; 
	padding-bottom: 3px;
	}
	
ul.blue {
	display: block; 
	list-style-type: none; 
	padding: 0px; 
	margin: 0px; 
	padding-right: 0px;
	}

ul.blue li {
	background-image: url(img/bullet_blue.gif); 
	background-repeat: no-repeat; 
	background-position: 10px 6px; 
	padding-left: 24px; 
	padding-bottom: 5px;
	}
	
ul.blue2 {
	display: block;
	list-style-type: none; 
	padding: 0px; 
	margin: 0px; 
	padding-right: 0px;
	}

ul.blue2 li {
	color:#565656;
	font-size: 12px;
	background-image: url(img/bullet_headline.gif); 
	background-repeat: no-repeat; 
	background-position: 40px 9px; 
	padding-left: 50px; 
	padding-top: 3px;
	}
	
ol.green {
	display: block; 
	list-style-type: number; 
	padding-left: 30px; 
	padding-bottom: 5px; 
	margin: 0px; 
	padding-right: 0px;
	}
	
ul.green {
	display: block; 
	list-style-type: none; 
	padding: 0px; 
	margin: 0px; 
	padding-right: 0px;
	}

ul.green li {
	background-image: url(img/bullet_green.gif); 
	background-repeat: no-repeat; 
	background-position: 8px 2px; 
	padding-left: 25px; 
	padding-bottom: 5px;
	}
	
ul.chartbullet {
	display: block; 
	width: 370px;
	list-style-type: none; 
	padding: 0px; 
	margin: 0px; 
	padding-right: 0px;
	}

ul.chartbullet li {
	background-image: url(img/bullet_blue.gif); 
	background-repeat: no-repeat; 
	background-position: 0px 6px; 
	padding-left: 12px; 
	padding-bottom: 2px;
	}
	
li.small a {
	color:#0030ff;
	font-size: 12px;
	line-height: 16px;
	font-weight: bold;
	}
	
.crumb {
	color:#888888;
	font-size: 11px;
	line-height: 16px;
	font-weight: bold;
	}	

.footer {
	color:#565656;
	font-size: 11px;
	line-height: 16px;
	font-weight: bold;
	}

.accenthot {
	color:#de4980;
	font-size: 12px;
	line-height: 16px;
	font-weight: bold;
	}

.accentblue {
	color:#066ed5;
	font-size: 12px;
	line-height: 16px;
	font-weight: bold;
	}
		
.accentgreen {
	color:#338e2a;
	font-size: 12px;
	line-height: 16px;
	font-weight: bold;
	}
	
.eventsgreen {
	color:#338e2a;
	font-size: 11px;
	line-height: 16px;
	font-weight: bold;
	}
	
.newsgreen {
	color:#0e8002;
	font-size: 10px;
	}	

.newsdate {
	color:#565656;
	font-size: 11px;
	line-height: 16px;
	font-weight: bold;
	}
	
.rule {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color:#a2ccff;
	background-image: url('img/chart_row_bkg.gif');
	background-repeat:repeat-x;
	background-position: bottom;
	font-family: Arial, Verdana;
	color:#066ed5;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 0px; 
	padding-bottom: 12px;	
	margin-top: 0px; 
	padding-top: 0px; 
	}
	
.chartheader {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color:#a2ccff;
	background-image: url('img/chart_header_bkg.gif');
	background-repeat:repeat-x;
	font-family: Arial, Verdana;
	color:#de4980;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 0px; 
	padding-bottom: 0px;	
	margin-top: 0px; 
	padding-top: 0px; 
	}
	
.chartcenter {
	padding-top: 7px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color:#a2ccff;
	background-image: url('img/chart_row_bkg.gif');
	background-repeat:repeat-x;
	background-position: bottom;
	}

.chartleftbullet {
	padding-top: 7px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color:#54a2ef;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color:#a2ccff;
	font-family: Arial;
	color:#565656;
	font-size: 12px;
	line-height: 16px;
	background-image: url('img/chart_row_bkg.gif');
	background-repeat:repeat-x;
	background-position: bottom;
	}

.chartrightblue {
	padding-top: 7px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color:#54a2ef;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color:#a2ccff;
	font-family: Arial;
	color:#066ed5;
	font-size: 12px;
	line-height: 16px;
	font-weight: bold;
	background-image: url('img/chart_row_bkg.gif');
	background-repeat:repeat-x;
	background-position: bottom;
	}

.chartrightgray {
	padding-top: 7px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color:#54a2ef;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color:#a2ccff;
	font-family: Arial;
	color:#565656;
	font-size: 12px;
	line-height: 16px;
	background-image: url('img/chart_row_bkg.gif');
	background-repeat:repeat-x;
	background-position: bottom;
	}
		
.chartleftbold {
	padding-top: 7px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color:#54a2ef;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color:#a2ccff;
	font-family: Arial;
	color:#565656;
	font-size: 12px;
	line-height: 16px;
	font-weight: bold;
	background-image: url('img/chart_row_bkg.gif');
	background-repeat:repeat-x;
	background-position: bottom;
	}
	
.chartrighttext {
	padding-top: 7px;
	padding-right: 8px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color:#54a2ef;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color:#a2ccff;
	font-family: Arial;
	color:#565656;
	font-size: 12px;
	line-height: 16px;
	background-image: url('img/chart_row_bkg.gif');
	background-repeat:repeat-x;
	background-position: bottom;
	}

.linknav1 {
	color:#0055e1;
	font-size: 12px;
	line-height: 16px;
	font-weight: bold;
	}
	
a.linknav1:visited {
	color:#0055e1;
	font-size: 12px;
	line-height: 16px;
	font-weight: bold;
	}

a.linknav1:active {
	color:#565656;
	font-size: 12px;
	line-height: 16px;
	font-weight: bold;
	}

a.linknav1:hover {
	color:#0066ff;
	font-size: 12px;
	line-height: 16px;
	font-weight: bold;
	}

.linknav1select {
	color:#565656;
	font-size: 12px;
	line-height: 16px;
	font-weight: bold;
	}
	
a.linknav1select:visited {
	color:#565656;
	font-size: 12px;
	line-height: 16px;
	font-weight: bold;
	}

a.linknav1select:active {
	color:#565656;
	font-size: 12px;
	line-height: 16px;
	font-weight: bold;
	}

a.linknav1select:hover {
	color:#0066ff;
	font-size: 12px;
	line-height: 16px;
	font-weight: bold;
	}
	
.linknav2 {
	color:#0055e1;
	font-size: 12px;
	line-height: 16px;
	}
	
a.linknav2:visited {
	color:#0055e1;
	font-size: 12px;
	line-height: 16px;
	}

a.linknav2:active {
	color:#565656;
	font-size: 12px;
	line-height: 16px;
	}

a.linknav2:hover {
	color:#0066ff;
	font-size: 12px;
	line-height: 16px;
	}

ul.link1 {
	display: block; 
	width: 150px;
	list-style-type: none; 
	padding: 0px; 
	margin: 0px; 
	padding-right: 0px;
	}

ul.link1 li {
	padding-left: 12px; 
	padding-top: 5px;
	}
	
ul.link2 {
	display: block; 
	width: 150px;
	list-style-type: none; 
	padding: 0px; 
	margin: 0px; 
	padding-right: 0px;
	}

ul.link2 li {
	background-image: url(img/bullet_nav2.gif); 
	background-repeat: no-repeat; 
	background-position: 14px 8px; 
	padding-left: 22px; 
	padding-top: 3px;
	}
	
li.link1select a {
	color:#565656;
	font-size: 12px;
	line-height: 16px;
	font-weight: bold;
	text-decoration: none;
	}

li.link2select a {
	color:#565656;
	font-size: 12px;
	line-height: 16px;
	text-decoration: none;
	}

.link {
	color:#0030ff;
	font-size: 12px;
	line-height: 16px;
	font-weight: bold;
	}
	
a.link:visited {
	color:#0030ff;
	font-size: 12px;
	line-height: 16px;
	font-weight: bold;
	}

a.link:active {
	color:#565656;
	font-size: 12px;
	line-height: 16px;
	font-weight: bold;
	}

a.link:hover {
	color:#0066ff;
	font-size: 12px;
	line-height: 16px;
	font-weight: bold;
	}

.linklight {
	color:#0030ff;
	font-size: 12px;
	line-height: 16px;
	}
	
a.linklight:visited {
	color:#0030ff;
	font-size: 12px;
	line-height: 16px;
	}

a.linklight:active {
	color:#565656;
	font-size: 12px;
	line-height: 16px;
	}

a.linklight:hover {
	color:#0066ff;
	font-size: 12px;
	line-height: 16px;
	}
	
.linksmall {
	color:#0030ff;
	font-size: 11px;
	line-height: 16px;
	font-weight: bold;
	}
	
a.linksmall:visited {
	color:#0030ff;
	font-size: 11px;
	line-height: 16px;
	font-weight: bold;
	}

a.linksmall:active {
	color:#565656;
	font-size: 11px;
	line-height: 16px;
	font-weight: bold;
	}

a.linksmall:hover {
	color:#0066ff;
	font-size: 11px;
	line-height: 16px;
	font-weight: bold;
	}

.linksmalllight {
	color:#0030ff;
	font-size: 10px;
	line-height: 16px;
	}
	
a.linksmalllight:visited {
	color:#0030ff;
	font-size: 10px;
	line-height: 16px;
	}

a.linksmalllight:active {
	color:#565656;
	font-size: 10px;
	line-height: 16px;
	}

a.linksmalllight:hover {
	color:#0066ff;
	font-size: 10px;
	line-height: 16px;
	}
	
.linkbody {
	color:#0030ff;
	font-size: 14px;
	line-height: 18px;
	}
	
a.linkbody:visited {
	color:#0030ff;
	font-size: 14px;
	line-height: 18px;
	}

a.linkbody:active {
	color:#565656;
	font-size: 14px;
	line-height: 18px;
	}

a.linkbody:hover {
	color:#0066ff;
	font-size: 14px;
	line-height: 18px;
	}
	
/* Standards Compliant Styles */
div.employee, div.partner {
	width: auto;
	overflow: hidden;
	margin-top: 20px;
}
div.employee img, div.partner img {
	float: left;
	display: block;
}
div.employee ul, div.partner ul {
	list-style: none;
	margin: 0 0 0 10px;
	padding: 0;
	float: left;
}
li.employee-title {
	font-variant: small-caps;
}
li.employee-name {
	font-weight: bold;
}

#map {
	float: left;
}
#customers {
	width: auto;
	overflow: hidden;
	float: left;
	margin: 0 0 0 10px;
}
#customers ul {
	list-style: none;
	margin: 0 0 20px;
	padding: 0;
}
