<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MW.MComm.WalletSolution.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MW.MComm.WalletSolution.Properties.Settings>
            <setting name="MW_MComm_WalletSolution_MComm_SMS_SMSSender_smsSender"
                serializeAs="String">
                <value>http://216.184.113.85/W.MComm.SMS.WebService/smsSender.asmx</value>
            </setting>
            <setting name="MW_MComm_WalletSolution_MComm_Nuevatel_CustomerManager_Service1"
                serializeAs="String">
                <value>http://216.184.113.85/MW.MComm.Nuevatel.WebService/service1.asmx</value>
            </setting>
            <setting name="MW_MComm_WalletSolution_MComm_SMS_RequestApproval_requestAproval"
                serializeAs="String">
                <value>http://216.184.113.85/satmlBypass/requestAproval.asmx</value>
            </setting>
            <setting name="MW_MComm_WalletSolution_MComm_Nuevatel_ClientInformation_ClientInfoService"
                serializeAs="String">
                <value>http://216.184.113.58:8080/ServiceWS/ClientInformation</value>
            </setting>
            <setting name="MW_MComm_WalletSolution_MComm_Ganadero_Simulator_Service"
                serializeAs="String">
                <value>http://127.0.0.1/MW.MComm.GanaderoSim.WebService/Service.asmx</value>
            </setting>
            <setting name="MW_MComm_WalletSolution_MComm_SMS_SMSSenderUSA_smsSender"
                serializeAs="String">
                <value>http://127.0.0.1/MW.MComm.SMS.WebService/smsSender.asmx</value>
            </setting>
            <setting name="MW_MComm_WalletSolution_MComm_CarrierSim_PhoneManager_PhoneManager"
                serializeAs="String">
                <value>http://localhost/MW.MComm.CarrierSim.WebService/Customers/PhoneManager.asmx</value>
            </setting>
            <setting name="MW_MComm_WalletSolution_MComm_CarrierSim_CustomerManager_CustomerManager"
                serializeAs="String">
                <value>http://localhost/MW.MComm.CarrierSim.WebService/Customers/CustomerManager.asmx</value>
            </setting>
            <setting name="MW_MComm_WalletSolution_MComm_Multibank_Simulator_multiBank"
                serializeAs="String">
                <value>http://127.0.0.1/MW.MComm.GanaderoSim.WebService/multiBank.asmx</value>
            </setting>
        </MW.MComm.WalletSolution.Properties.Settings>
    </applicationSettings>
</configuration>