<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--add key="rdbmsConnectionString" value="Integrated Security=SSPI;Initial Catalog=BG;Data Source=dotdevsql"/-->
    <!-- meta_odbc meta_odbc!#! -->
    <!--add key="rdbmsConnectionString" value="Server=DOTDEVSQL;Database=MWWalletSolution_Dev;Trusted_Connection=true"/-->
    <!--add key="rdbmsConnectionString" value="Data Source=.;Initial Catalog=MWGanadero_Dev;Persist Security Info=True;User ID=meta_odbc;Password=meta_odbc!#!"/-->
    <add key="rdbmsConnectionString" value="Data Source=dotdevsql;Initial Catalog=MWGanadero_Dev;Persist Security Info=True;User ID=meta_odbc;Password=meta_odbc!#!"/>
  </appSettings>
  
 	<connectionStrings/>
	<system.web>
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true"/>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
	</system.web>

</configuration>
