vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|19 Dec 2006 14:16:35 -0000
vti_extenderversion:SR|5.0.2.6738
vti_lineageid:SR|{18EEF667-B6E8-4F32-B80A-0B4EA30BB0F8}
vti_backlinkinfo:VX|
vti_author:SR|MWSERVER\\metawallet
vti_nexttolasttimemodified:TW|19 Dec 2006 00:47:10 -0000
vti_timecreated:TR|11 Dec 2006 21:50:52 -0000
vti_modifiedby:SR|MWSERVER\\metawallet
vti_cacheddtm:TX|19 Dec 2006 14:16:35 -0000
vti_filesize:IR|16483
