* { font-family: "Verdana, Arial, Sans-Serif"; }

.LeftNav
{
    font-size: 6pt;
}
.title
{
	font-family: Verdana, Arial, Sans-Serif;
	color: #000000;
	font-size: 12px;
	font-weight: bold;
	margin-left: 8px;
}
.subtitle
{
	font-family: "Verdana, Arial, Sans-Serif";
	color: #000000;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 8px;
	text-decoration:none;

}
.PageTitle
{
    color: #000000;
	font-size: 12pt;
	border-bottom:double 3px #000000;
	padding-bottom: 2px;
	font-weight: bold;
	margin-bottom: 8px;
}

.subtitlePlace
{
	font-family: Verdana, Arial, Sans-Serif;
	color: #000000;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 8px;
	position:absolute;top:60px;

}

.ID 
{
	font-family: Verdana, Arial, Sans-Serif;
	color: #000000;
	font-size: 9pt;
	font-weight: bold;
	margin-bottom: 2px;
}



.status
{
	color: #FA8511; 
	font-size: 9px;
	font-weight: bold;
}

/* ----Search Results and Table Classes */

.SearchResults .Header
{
    font-size:9pt;
    font-weight:bold;
    color:#ffffff;
    padding: 2px 2px 2px 2px;
}


.tableCell
{
	font-size: 9px;
	font-weight: normal;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	height:14px;
	background-color: #FFFFFF;
	padding: 2px 2px 2px 2px;
	margin: 2px 2px 2px 2px;
}
.altTableCell
{
	font-size: 9px;
	font-weight: normal;
	border-width: 1px;
	border-color: #000000;
	background-color: #D9D9D9;
	height:14px;
	padding: 2px 2px 2px 2px;
	margin: 2px 2px 2px 2px;
}


.selTableCell
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #eeffee;
	padding: 2px 2px 2px 2px;
}


.tableFooter
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #CCCCCC;
	padding: 2px 2px 2px 2px;
}


.listCell
{
	background-color: #FFFFFF;
}
.altListCell
{
	background-color: #D9D9D9;
}


.MiddleSpace
{
	padding:2px 120px 2px 160px
}


a.SectionLink:link, a.SectionLink:hover, a.SectionLink:active, a.SectionLink:visited
{
	color: #777;
	font-size: 7pt;
	font-weight: normal;
	padding-left: 4px;
	text-decoration: underline;

	border-top: #ccc 1px solid;
	border-left: #ccc 1px solid;
	border-right: #ccc 1px solid;
	padding-right: 3px;
	padding-left: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-left: 1px;
	margin-right: 1px;
	background-color: #ddd;
}

a.selSectionLink:link, a.selSectionLink:visited, a.selSectionLink:active
{
	border-top: #ddd 1px solid;
	border-left: #ddd 1px solid;
	border-right: #ddd 1px solid;
	padding-right: 3px;
	padding-left: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-left: 2px;
	margin-right: 2px;
	
	font-size: 7pt;
	font-weight: bold;
	text-decoration: none;
}

a.SectionLink:hover
{
	background-color: #eee;
}


.IDSection
{
	border-bottom-width:thin;
	border-bottom-color: #000000;
	border-bottom-style:dotted;
	padding-bottom: 12px;
	padding-top: 12px;
	margin-bottom:12px;
}

.NavHeader
{
	color: #000000;
	font-size: 10pt;
	font-weight: bold;
    margin-top: 4px;
    line-height:18px;
    text-decoration:none;
}
.HomeNavHeader
{
	color: #000000;
	font-size: 11px;
	font-weight: bold;
    margin-top: 2px;
}

.NavLink
{
	font-size: 6pt;
	font-weight: normal;
	line-height:14px;
	margin-left:8px;
	margin-bottom:3px;
}
.HomeNavLink
{
	font-size: 6pt;
	font-weight: normal;
}



.HelpLink
{
	font-family: Verdana, Arial, Sans-Serif;
	font-size: 12px;
	font-weight: normal;
	margin-left: 2px;
	cursor: pointer;
	text-decoration: underline;
}


.FormLabelOptional
{
	font-size: 6pt;
	font-weight: normal;
}
.FormLabelRequired
{
	font-size: 6pt;
	font-weight: bold;
}

.FormNormal
{
	font-size: 6pt;
	font-weight: normal;
}

.errors
{
	font-size: 9px;
	font-weight: bold;
	color: Red;
}




.Pager
{

	font-size: 9px;
	font-weight: normal;
}

.smallText
{

	font-size: 9px;
	font-weight: normal;
}


.Button .Save
{
    background-image:url(/MW.MComm.Phone.WebUI/Images/save_icon.gif);
    background-repeat:no-repeat;
    display: inline;
    width:14px;
    height:14px;
    vertical-align:middle;
    text-align:right;
    cursor:pointer;
}
.Button .Clear
{
    background-image:url(/MW.MComm.Phone.WebUI/Images/clear_icon.gif);
    background-repeat:no-repeat;
    display: inline;
    Width:14px;
    height:14px;
    text-align:right;
    cursor:pointer;
    vertical-align:middle;
}
.Button .Reset
{
    background-image:url(/MW.MComm.Phone.WebUI/Images/reset_icon.gif);
    background-repeat:no-repeat;
    display: inline;
    Width:14px;
    height:14px;
    text-align:right;
    cursor:pointer;
    vertical-align:middle;
}
.Button .Exit
{
    background-image:url(/MW.MComm.Phone.WebUI/Images/exit_icon.gif);
    background-repeat:no-repeat;
    display: inline;
    Width:14px;
    height:14px;
    text-align:right;
    cursor:pointer;
    vertical-align:middle;
}
.Button .Delete
{
    background-image:url(/MW.MComm.Phone.WebUI/Images/delete_icon.gif);
    background-repeat:no-repeat;
    display: inline;
    Width:14px;
    height:14px;
    text-align:right;
    cursor:pointer;
    vertical-align:middle;
}
.Button .Search
{
    background-image:url(/MW.MComm.Phone.WebUI/Images/search_icon.gif);
    background-repeat:no-repeat;
    display: inline;
    Width:14px;
    height:14px;
    text-align:right;
    cursor:pointer;
    vertical-align:middle;
}
.Button .LoginIcon
{
    background-image:url(/MW.MComm.Phone.WebUI/Images/login_icon.gif);
    background-repeat:no-repeat;
    display: inline;
    Width:14px;
    height:14px;
    text-align:right;
    cursor:pointer;
    vertical-align:middle;
}
.PlusSign
{
    background-image:url(/MW.MComm.Phone.WebUI/Images/add_icon.gif);
    background-repeat:no-repeat;
    display: inline;
    Width:14px;
    height:14px;
    text-align:right;
    cursor:pointer;
    vertical-align:middle;
}
.MinusSign
{
    background-image:url(/MW.MComm.Phone.WebUI/Images/remove_icon.gif);
    background-repeat:no-repeat;
    display: inline;
    Width:14px;
    height:14px;
    text-align:right;
    cursor:pointer;
    vertical-align:middle;
}
.UpArrow
{
    background-image:url(/MW.MComm.Phone.WebUI/Images/move_up_icon.gif);
    background-repeat:no-repeat;
    display: inline;
    Width:14px;
    height:14px;
    text-align:right;
    cursor:pointer;
    vertical-align:middle;
}
.DownArrow
{
    background-image:url(/MW.MComm.Phone.WebUI/Images/move_down_icon.gif);
    background-repeat:no-repeat;
    display: inline;
    Width:14px;
    height:14px;
    text-align:right;
    cursor:pointer;
    vertical-align:middle;
}
/*--------------ImageBlock-----------*/
.ImageUpload
{
	width:120px;
	background-color:#ffffff;
	border:solid 1px #000000;
	margin: 14px;
}
.ImageUpload .Header
{
	width:100%;
	background-color: #000000;
	color:#ffffff;
	font-size:7pt;
	font-weight:bold;
	padding:2px;
}
/*-------------Collapsing Help Classes------*/
.HelpPosition
{
    right:-1px;
    z-index:999;
    position:absolute;
    top: 70px;
    margin-right:0px;
}
.Help
{
    width:120px;
    display:none;
    background-color:#FFFFFF;
    border:solid 2px #000000;
    padding-left:3px;
    padding-right:3px;
    margin: 0px 0px 0px 16px;
}
.HelpTitleBar
{
    padding: 3px 3px 3px 3px;
    color: #FFFFFF;
    font-weight:bold;
    font-size:8px;
    width: 14px;
    height:80px;
    left:0px;
    float:left;
    cursor:pointer;
    display:none;
    border-left: solid 2px #ffffff;
    border-top: solid 2px #ffffff;  
    border-bottom: solid 2px #ffffff;
}

 .HelpHeader
{
	font-size: 9px;
	font-weight: bold;
	color:#000000;
	letter-spacing:1px;
	width:100%;
	border-bottom: solid 1px #000000;
	margin-bottom: 8px;
}
.HelpRegular
{
	font-size: 6pt;
	font-weight: normal;
	color:#000000;
	letter-spacing:1px;
	margin-bottom: 8px;
}

	
.Status
{
	font-size:11px;
	font-weight:bold;
	color:#555555;
}



a.CopyrightLink:link, a.CopyrightLink:hover, a.CopyrightLink:visited
{
	text-decoration: none;
}
.BorderTop
{
    background-color:#d9d9d9;
    height:4px;
    padding:0px 0px 0px 0px;
    margin:0px 0px 0px 0px;
    vertical-align:top;
}
.Right
{
	text-align:right;
}
.Left
{
	text-align:left;
	float:left;
}
.BorderBottom
{
    bottom: -1px;
    background-color:#d9d9d9;
    height:4px;
    padding:0px 0px 0px 0px;
    margin:0px 0px 0px 0px;
    vertical-align:bottom;
}

/*--Content Page Template Classes and IDs------*/



/*--Search Control Template Classes------*/
.SearchActions
{
    display: inline;
    margin-bottom: 14px;
}
.SearchActions .Criteria
{   
}

.SearchActions .Buttons
{
    padding:14px 8px 8px 8px;
}



/* caption box */
.captionbox { background-color: #cccccc; }
.captionbox td { padding: 0px 0px 0px 0px; }
.captionbox_header { background-color: Black; color: White; font-weight: bold; }
.captionbox_header_expanded { background-color: White; color: Black; font-weight: bold; }

.captionbox_white { background-color: #ffffff; margin-top: 10px; margin-bottom: 10px; }
.captionbox_white td { padding: 0px 0px 0px 0px; }
.captionbox_white_expanded { background-color: Black; color: #ffffff; }
.captionbox_white_collapsed { background-color: White; color: Black; border: solid 2px black; }
.captionbox_white_title { display: inline; font-size: 10px; margin: 5px; font-weight: bold; }
.captionbox_white_expanded a:link, .captionbox_white_expanded a:visited, .captionbox_white_expanded a:hover, .captionbox_white_expanded a:active
{
	color: #ffffff; 
	text-decoration: none;
}
.captionbox_white_collapsed a:link, .captionbox_white_collapsed a:visited, .captionbox_white_collapsed a:hover, .captionbox_white_collapsed a:active
{
	color: #000000; 
	text-decoration: none;
}

.captionbox_grey { background-color: #cccccc; margin-top: 10px; margin-bottom: 10px; }
.captionbox_grey td { padding: 0px 0px 0px 0px; }
.captionbox_grey_expanded { background-color: Black; color: #ffffff; }
.captionbox_grey_collapsed { background-color: White; color: Black; border: solid 1px black; }
.captionbox_grey_title { display: inline; font-size: 10px; margin: 5px; font-weight: bold; }
.captionbox_grey_expanded a:link, .captionbox_grey_expanded a:visited, .captionbox_grey_expanded a:hover, .captionbox_grey_expanded a:active
{
	color: #ffffff; 
	text-decoration: none;
}
.captionbox_grey_collapsed a:link, .captionbox_grey_collapsed a:visited, .captionbox_grey_collapsed a:hover, .captionbox_grey_collapsed a:active
{
	color: #000000; 
	text-decoration: none;
}

.no_wrap { white-space: nowrap; }

.HeaderWarning { margin-left: 8px; }
.HeaderError { margin-left: 8px; }

.white_box { background-color: #ffffff; font-size: 7pt; font-weight: bold; border: solid 1px black; margin:10px;}

.altTableCell .severity_icon_0 { display: inline-block; vertical-align: middle; background-image: url(/MW.MComm.Phone.WebUI/images/blank.gif); width:14px;height:14px;    background-repeat:no-repeat;  }
.altTableCell .severity_icon_1 { display: inline-block; vertical-align: middle; background-image: url(/MW.MComm.Phone.WebUI/images/severity_icon_ok.gif);width:14px;height:14px; background-repeat:no-repeat;}
.altTableCell .severity_icon_2 { display: inline-block; vertical-align: middle; background-image: url(/MW.MComm.Phone.WebUI/images/severity_icon_warning.gif); width:14px;height:14px;    background-repeat:no-repeat;  }
.altTableCell .severity_icon_3 { display: inline-block; vertical-align: middle; background-image: url(/MW.MComm.Phone.WebUI/images/severity_icon_error.gif); width:14px;height:14px;    background-repeat:no-repeat;  }
.altTableCell .severity_icon_4 { display: inline-block; vertical-align: middle; background-image: url(/MW.MComm.Phone.WebUI/images/severity_icon_error.gif); width:14px;height:14px;    background-repeat:no-repeat;  }
.altTableCell .severity_icon_None { display: inline-block; vertical-align: middle; background-image: url(/MW.MComm.Phone.WebUI/images/blank.gif); width:14px;height:14px;    background-repeat:no-repeat;  }
.altTableCell .severity_icon_OK { display: inline-block; vertical-align: middle; background-image: url(/MW.MComm.Phone.WebUI/images/severity_icon_ok.gif); width:14px;height:14px;    background-repeat:no-repeat;  }
.altTableCell .severity_icon_Warning { display: inline-block; vertical-align: middle; background-image: url(/MW.MComm.Phone.WebUI/images/severity_icon_warning.gif); width:14px;height:14px;    background-repeat:no-repeat; }
.altTableCell .severity_icon_Error { display: inline-block; vertical-align: middle; background-image:url(/MW.MComm.Phone.WebUI/images/severity_icon_error.gif);width:14px;height:14px;    background-repeat:no-repeat;}
.altTableCell .severity_icon_CriticalError { display: inline-block; vertical-align: middle; background-image:url(/MW.MComm.Phone.WebUI/images/severity_icon_error.gif);width:14px;height:14px;    background-repeat:no-repeat;}
.altTableCell .severity_icon_NonCriticalError { display: inline-block; vertical-align: middle; background-image:url(/MW.MComm.Phone.WebUI/images/severity_icon_error.gif);width:14px;height:14px;    background-repeat:no-repeat;}

.severity_icon_0 { display: inline-block; vertical-align: middle; background-image: url(/MW.MComm.Phone.WebUI/images/blank.gif); width:14px;height:14px;    background-repeat:no-repeat;  }
.severity_icon_1 { display: inline-block; vertical-align: middle; background-image: url(/MW.MComm.Phone.WebUI/images/severity_icon_ok.gif);width:14px;height:14px; background-repeat:no-repeat;}
.severity_icon_2 { display: inline-block; vertical-align: middle; background-image: url(/MW.MComm.Phone.WebUI/images/severity_icon_warning.gif); width:14px;height:14px;    background-repeat:no-repeat;  }
.severity_icon_3 { display: inline-block; vertical-align: middle; background-image: url(/MW.MComm.Phone.WebUI/images/severity_icon_error.gif); width:14px;height:14px;    background-repeat:no-repeat;  }
.severity_icon_4 { display: inline-block; vertical-align: middle; background-image: url(/MW.MComm.Phone.WebUI/images/severity_icon_error.gif); width:14px;height:14px;    background-repeat:no-repeat;  }
.severity_icon_None { display: inline-block; vertical-align: middle; background-image: url(/MW.MComm.Phone.WebUI/images/blank.gif); width:14px;height:14px;    background-repeat:no-repeat;  }
.severity_icon_OK { display: inline-block; vertical-align: middle; background-image: url(/MW.MComm.Phone.WebUI/images/severity_icon_ok.gif); width:14px;height:14px;    background-repeat:no-repeat;  }
.severity_icon_Warning { display: inline-block; vertical-align: middle; background-image: url(/MW.MComm.Phone.WebUI/images/severity_icon_warning.gif); width:14px;height:14px;    background-repeat:no-repeat; }
.severity_icon_Error { display: inline-block; vertical-align: middle; background-image:url(/MW.MComm.Phone.WebUI/images/severity_icon_error.gif);width:14px;height:14px;    background-repeat:no-repeat;}
.severity_icon_CriticalError { display: inline-block; vertical-align: middle; background-image:url(/MW.MComm.Phone.WebUI/images/severity_icon_error.gif);width:14px;height:14px;    background-repeat:no-repeat;}
.severity_icon_NonCriticalError { display: inline-block; vertical-align: middle; background-image:url(/MW.MComm.Phone.WebUI/images/severity_icon_error.gif);width:14px;height:14px;    background-repeat:no-repeat;}

.severity_count_0 { display: none; }

.NewButton { text-decoration: none; background-color: #ffffff; font-size: 7pt; font-weight: bold; border: solid 1px black; padding-left: 3px; padding-right: 2px;}

a:link.NewButton, a:visited.NewButton, a:hover.NewButton, a:active.NewButton 
{
	color: #000000; 
	text-decoration: none;
	cursor:pointer;
}


a:link.NewLink, a:visited.NewLink, a:hover.NewLink, a:active.NewLink 
{
	color: #000000; 
	text-decoration: none;
	cursor:pointer;
}


.NewDropDown { margin-bottom: 8px; font-size: 7pt; font-weight: normal; }
.search_icon  {display: inline; vertical-align: middle; background-image:url(/MW.MComm.Phone.WebUI/images/search_icon.gif); width:16px;height:16px; background-repeat: no-repeat; }
.clear_icon  {display: inline; vertical-align: middle; background-image:url(/MW.MComm.Phone.WebUI/images/clear_icon.gif); width:16px;height:16px; background-repeat: no-repeat; }


/* red box */

.box_red { background-color: #ffffff; }

.imgbox_red_b { background-color: #ffffff; background-image:url(/MW.MComm.Phone.WebUI/images/frames/box_red_b.gif);width:1px;height:4px;}
.imgbkgbox_red_b {background-image:url(/MW.MComm.Phone.WebUI/images/frames/box_red_b.gif);}
.imgabox_red_b  {background-image:url(/MW.MComm.Phone.WebUI/images/frames/box_red_b.gif);width:1px;height:4px;cursor:pointer;}

.imgbox_red_bl {background-image:url(/MW.MComm.Phone.WebUI/images/frames/box_red_bl.gif);width:3px;height:4px;}
.imgbkgbox_red_bl {background-image:url(/MW.MComm.Phone.WebUI/images/frames/box_red_bl.gif);}
.imgabox_red_bl  {background-image:url(/MW.MComm.Phone.WebUI/images/frames/box_red_bl.gif);width:3px;height:4px;cursor:pointer;}

.imgbox_red_br {background-image:url(/MW.MComm.Phone.WebUI/images/frames/box_red_br.gif);width:3px;height:4px;}
.imgbkgbox_red_br {background-image:url(/MW.MComm.Phone.WebUI/images/frames/box_red_br.gif);}
.imgabox_red_br  {background-image:url(/MW.MComm.Phone.WebUI/images/frames/box_red_br.gif);width:3px;height:4px;cursor:pointer;}

.imgbox_red_l { background-color: #ffffff; background-image:url(/MW.MComm.Phone.WebUI/images/frames/box_red_l.gif);width:5px;height:1px;}
.imgbkgbox_red_l {background-image:url(/MW.MComm.Phone.WebUI/images/frames/box_red_l.gif);}
.imgabox_red_l  {background-image:url(/MW.MComm.Phone.WebUI/images/frames/box_red_l.gif);width:5px;height:1px;cursor:pointer;}

.imgbox_red_r { background-color: #ffffff; background-image:url(/MW.MComm.Phone.WebUI/images/frames/box_red_r.gif);width:5px;height:1px;}
.imgbkgbox_red_r {background-image:url(/MW.MComm.Phone.WebUI/images/frames/box_red_r.gif);}
.imgabox_red_r  {background-image:url(/MW.MComm.Phone.WebUI/images/frames/box_red_r.gif);width:5px;height:1px;cursor:pointer;}

.imgbox_red_t {background-image:url(/MW.MComm.Phone.WebUI/images/frames/box_red_t.gif);width:1px;height:4px;}
.imgbkgbox_red_t {background-image:url(/MW.MComm.Phone.WebUI/images/frames/box_red_t.gif);}
.imgabox_red_t  {background-image:url(/MW.MComm.Phone.WebUI/images/frames/box_red_t.gif);width:1px;height:4px;cursor:pointer;}

.imgbox_red_tl {background-image:url(/MW.MComm.Phone.WebUI/images/frames/box_red_tl.gif);width:3px;height:4px;}
.imgbkgbox_red_tl {background-image:url(/MW.MComm.Phone.WebUI/images/frames/box_red_tl.gif);}
.imgabox_red_tl  {background-image:url(/MW.MComm.Phone.WebUI/images/frames/box_red_tl.gif);width:3px;height:4px;cursor:pointer;}

.imgbox_red_tr {background-image:url(/MW.MComm.Phone.WebUI/images/frames/box_red_tr.gif);width:3px;height:4px;}
.imgbkgbox_red_tr {background-image:url(/MW.MComm.Phone.WebUI/images/frames/box_red_tr.gif);}
.imgabox_red_tr  {background-image:url(/MW.MComm.Phone.WebUI/images/frames/box_red_tr.gif);width:3px;height:4px;cursor:pointer;}

/* yellow box */

.box_yellow { background-color: #ffffff; }

.imgbox_yellow_b { background-color: #ffffff; background-image:url(/MW.MComm.Phone.WebUI/images/frames/box_yellow_b.gif);width:1px;height:4px;}
.imgbkgbox_yellow_b {background-image:url(/MW.MComm.Phone.WebUI/images/frames/box_yellow_b.gif);}
.imgabox_yellow_b  {background-image:url(/MW.MComm.Phone.WebUI/images/frames/box_yellow_b.gif);width:1px;height:4px;cursor:pointer;}

.imgbox_yellow_bl {background-image:url(/MW.MComm.Phone.WebUI/images/frames/box_yellow_bl.gif);width:3px;height:4px;}
.imgbkgbox_yellow_bl {background-image:url(/MW.MComm.Phone.WebUI/images/frames/box_yellow_bl.gif);}
.imgabox_yellow_bl  {background-image:url(/MW.MComm.Phone.WebUI/images/frames/box_yellow_bl.gif);width:3px;height:4px;cursor:pointer;}

.imgbox_yellow_br {background-image:url(/MW.MComm.Phone.WebUI/images/frames/box_yellow_br.gif);width:3px;height:4px;}
.imgbkgbox_yellow_br {background-image:url(/MW.MComm.Phone.WebUI/images/frames/box_yellow_br.gif);}
.imgabox_yellow_br  {background-image:url(/MW.MComm.Phone.WebUI/images/frames/box_yellow_br.gif);width:3px;height:4px;cursor:pointer;}

.imgbox_yellow_l { background-color: #ffffff; background-image:url(/MW.MComm.Phone.WebUI/images/frames/box_yellow_l.gif);width:5px;height:1px;}
.imgbkgbox_yellow_l {background-image:url(/MW.MComm.Phone.WebUI/images/frames/box_yellow_l.gif);}
.imgabox_yellow_l  {background-image:url(/MW.MComm.Phone.WebUI/images/frames/box_yellow_l.gif);width:5px;height:1px;cursor:pointer;}

.imgbox_yellow_r { background-color: #ffffff; background-image:url(/MW.MComm.Phone.WebUI/images/frames/box_yellow_r.gif);width:5px;height:1px;}
.imgbkgbox_yellow_r {background-image:url(/MW.MComm.Phone.WebUI/images/frames/box_yellow_r.gif);}
.imgabox_yellow_r  {background-image:url(/MW.MComm.Phone.WebUI/images/frames/box_yellow_r.gif);width:5px;height:1px;cursor:pointer;}

.imgbox_yellow_t {background-image:url(/MW.MComm.Phone.WebUI/images/frames/box_yellow_t.gif);width:1px;height:4px;}
.imgbkgbox_yellow_t {background-image:url(/MW.MComm.Phone.WebUI/images/frames/box_yellow_t.gif);}
.imgabox_yellow_t  {background-image:url(/MW.MComm.Phone.WebUI/images/frames/box_yellow_t.gif);width:1px;height:4px;cursor:pointer;}

.imgbox_yellow_tl {background-image:url(/MW.MComm.Phone.WebUI/images/frames/box_yellow_tl.gif);width:3px;height:4px;}
.imgbkgbox_yellow_tl {background-image:url(/MW.MComm.Phone.WebUI/images/frames/box_yellow_tl.gif);}
.imgabox_yellow_tl  {background-image:url(/MW.MComm.Phone.WebUI/images/frames/box_yellow_tl.gif);width:3px;height:4px;cursor:pointer;}

.imgbox_yellow_tr {background-image:url(/MW.MComm.Phone.WebUI/images/frames/box_yellow_tr.gif);width:3px;height:4px;}
.imgbkgbox_yellow_tr {background-image:url(/MW.MComm.Phone.WebUI/images/frames/box_yellow_tr.gif);}
.imgabox_yellow_tr  {background-image:url(/MW.MComm.Phone.WebUI/images/frames/box_yellow_tr.gif);width:3px;height:4px;cursor:pointer;}

/* black box */

.box_black { background-color: #ffffff; }

.imgbox_black_b { background-color: #ffffff; background-image:url(/MW.MComm.Phone.WebUI/images/frames/box_black_b.gif);width:1px;height:4px;}
.imgbkgbox_black_b {background-image:url(/MW.MComm.Phone.WebUI/images/frames/box_black_b.gif);}
.imgabox_black_b  {background-image:url(/MW.MComm.Phone.WebUI/images/frames/box_black_b.gif);width:1px;height:4px;cursor:pointer;}

.imgbox_black_bl {background-image:url(/MW.MComm.Phone.WebUI/images/frames/box_black_bl.gif);width:3px;height:4px;}
.imgbkgbox_black_bl {background-image:url(/MW.MComm.Phone.WebUI/images/frames/box_black_bl.gif);}
.imgabox_black_bl  {background-image:url(/MW.MComm.Phone.WebUI/images/frames/box_black_bl.gif);width:3px;height:4px;cursor:pointer;}

.imgbox_black_br {background-image:url(/MW.MComm.Phone.WebUI/images/frames/box_black_br.gif);width:3px;height:4px;}
.imgbkgbox_black_br {background-image:url(/MW.MComm.Phone.WebUI/images/frames/box_black_br.gif);}
.imgabox_black_br  {background-image:url(/MW.MComm.Phone.WebUI/images/frames/box_black_br.gif);width:3px;height:4px;cursor:pointer;}

.imgbox_black_l { background-color: #ffffff; background-image:url(/MW.MComm.Phone.WebUI/images/frames/box_black_l.gif);width:5px;height:1px;}
.imgbkgbox_black_l {background-image:url(/MW.MComm.Phone.WebUI/images/frames/box_black_l.gif);}
.imgabox_black_l  {background-image:url(/MW.MComm.Phone.WebUI/images/frames/box_black_l.gif);width:5px;height:1px;cursor:pointer;}

.imgbox_black_r { background-color: #ffffff; background-image:url(/MW.MComm.Phone.WebUI/images/frames/box_black_r.gif);width:5px;height:1px;}
.imgbkgbox_black_r {background-image:url(/MW.MComm.Phone.WebUI/images/frames/box_black_r.gif);}
.imgabox_black_r  {background-image:url(/MW.MComm.Phone.WebUI/images/frames/box_black_r.gif);width:5px;height:1px;cursor:pointer;}

.imgbox_black_t {background-image:url(/MW.MComm.Phone.WebUI/images/frames/box_black_t.gif);width:1px;height:4px;}
.imgbkgbox_black_t {background-image:url(/MW.MComm.Phone.WebUI/images/frames/box_black_t.gif);}
.imgabox_black_t  {background-image:url(/MW.MComm.Phone.WebUI/images/frames/box_black_t.gif);width:1px;height:4px;cursor:pointer;}

.imgbox_black_tl {background-image:url(/MW.MComm.Phone.WebUI/images/frames/box_black_tl.gif);width:3px;height:4px;}
.imgbkgbox_black_tl {background-image:url(/MW.MComm.Phone.WebUI/images/frames/box_black_tl.gif);}
.imgabox_black_tl  {background-image:url(/MW.MComm.Phone.WebUI/images/frames/box_black_tl.gif);width:3px;height:4px;cursor:pointer;}

.imgbox_black_tr {background-image:url(/MW.MComm.Phone.WebUI/images/frames/box_black_tr.gif);width:3px;height:4px;}
.imgbkgbox_black_tr {background-image:url(/MW.MComm.Phone.WebUI/images/frames/box_black_tr.gif);}
.imgabox_black_tr  {background-image:url(/MW.MComm.Phone.WebUI/images/frames/box_black_tr.gif);width:3px;height:4px;cursor:pointer;}
